# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Stencil/Frontend
frontend/wallet-app/dist/
frontend/wallet-app/.stencil/
frontend/wallet-app/.cache/
frontend/wallet-app/coverage/

# Backend
backend/coverage/
backend/node_modules/
backend/.env
backend/.cache/
backend/coverage/

# OS
.DS_Store
Thumbs.db

# Misc
.env
*.local
